mlflow==2.17.2
mlflow-skinny==2.17.2
langchain==0.2.17
langchain-core==0.2.43
langchain-databricks==0.1.1
databricks-agents==0.10.0
databricks-sdk==0.36.0
langchainhub==0.1.21
langchain-community==0.2.18
langgraph==0.2.45
pydantic==2.9.2
databricks-langchain==0.0.2
git+https://github.com/databricks/databricks-ai-bridge.git@46dfc5b21e720203fe104d0364d8d13b012186a2